/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {

}



/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1024px) {
    


}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 768px) {


    
    .detailimage{
    width: 100%;
    }
    
    .info-detail{
    width: 100%;   
    }
    
}
    




/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

    h2{
    font-size: 200%;
    }
   
    
      .main-nav{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    }
    .main-nav ul{
    display: none;
    }
    
    .main-nav {
    margin: 0;
    }
    
    .main-nav img{
    width: 75px;
    }
    
    .big-detail{
    margin-left: 18px;
    margin-right: 18px;
    }
     
    .detailimage{
    width: 100%;
    }
    
    .info-detail{
    width: 100%;   
    }
    
}
